<a href="https://colab.research.google.com/github/badapiri/badapiri/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬은 띄어쓰기 조심! / print() 문장은 화면에 출력해주는 명령어

파이썬에서 변수 만들기는 쉬움. 그냥 약속되지 않은 이름을 사용하면 됨.

In [ ]:
print('2023-03-14 11분만에 레바의 모험 파이널 클리어')

03-14 11분만에 레바의 모험 파이널 클리어

In [ ]:
print('This is My first python code!')

This is My first python code!

In [ ]:
name = '홍길동' #홀따옴표로 감싸있음 => 문자열
age = 2 #숫자
age = age + 1
print('안녕하세요 난', name, age)

안녕하세요 난 홍길동 3

In [ ]:
#연산자
a = 5
b = 3
print(a%b)

2

In [ ]:
a = 5
b = 3
print(a == b) # == 같은가? (비교연산자)
print(a != b) # != 같지 않은가?

False
True

In [ ]:
a = 5
b = 10
c = b
b = a
a = c
# c없이 a와 b로만 변경하기
# a = a + b 15
# b = a - b 5
# a = a - b 10
print(a, b) #서로 반대가 되게. (10, 5)

10 5

In [ ]:
str = 'hello' #문자열

In [ ]:
print(str)

hello

In [ ]:
#우리 반 학생을 저장 (1~10번) 
s1 = '김개똥'
s2 = '홍길동'
#만약 학생이 100명이라면 ? => 100의 변수가 필요
#하나의 묶음으로 보관 => List (다른 언어서는 배열 array)

student = ['김개똥', '홍길동', 100 , '김철수'] #리스트에 다른 형태의 자료형도 보관가능
print(student[1]) #리스트 번지는 0번지 부터 시작한다 (십진수는 0~9까지)
# .의 의미 얘가 할 수 있는 기능 목록이 나옴
student.append('이정환') #append는 새로운 항목을 추가 할 때
print(student[4])
#리스트에서 쓸 수 있ㄴㄴ 기능들은 어떤게 있을까??
student.pop(1)
#다시 출력
print(student)

홍길동
이정환
['김개똥', 100, '김철수', '이정환']

In [ ]:
#만약 1번의 이름, 국어, 영어. 정보 성적을 보관
#2번의 이름, 국어. 영어, 정보
s1 = ['김개똥', 100, 50 ,70]
s2 = ['홍길동', 60 ,70 ,100]

cls = [s1, s2] #리스트(배열)안에 리스트를 넣을 수 있음 => 2차원 리스트(배열)
print(cls[0]) #s1=김개똥의 배열
print(s1[1])#김개똥의 국어 점수
print(cls[0][1])

#배열과 리스트가 같을까?? => 배열은 크기가 고정 = 변경 불가, 리스트는 변함

['김개똥', 100, 50, 70]
100
100

In [ ]:
#여기만 실행하면 안됨
#type(변수) = 변수의 타입(자료의 형태를 출력)

print(type(cls)) #cls의 자료형
num = 3
print(type(num))

<class 'list'>
<class 'int'>

In [ ]:
#사용자 입력
name = input("이름을 입력해주세요 >>> ") #입력하기 기능
#또는 name = input('이름을 입력하세요')
#print('Hello', name)
print('hello '+ name)
print(f'hello {name}') # f'로 시작하는 포맷팅을 이용해서 변수를 안에 표현 할 수 있음

이름을 입력해주세요 >>> 양현욱
hello 양현욱
hello 양현욱

In [ ]:
#리스트에서 관해서.. 문자열
#String = 문자열
str = 'hello world'
print(str[4]) #['h', 'e' , 'l', 'l', 'o'..... 저장되고 있음]
print(len(str)) #len() 기능은 문자의 길이를 출력 공백 포함

list = [1, 2, 3, 4, 5] #배열의 길이를 알 수 있을까?
print(len(list))

o
11
5

In [ ]:
#반복문 - 반복되는 작업을 쉽게
#상황 - 리스트 = [0, 0, 0, 0, 0, 0, ....] => 100칸 생성
#list = [ 0, 0, 0, 0, 0, 0, .......] 또는
#list = [] list.append(0) 추가하기 100번

#반복 명령어 - for, while
#for = 제한된 횟수 만큼 반복
#k = 반복하면서 사용할 변수
#range(범위) 0 ~ 범위까지
for k in range(2,5):
# : 표시는 중괄호 시작이랑 같은 뜻
  #안에 들여쓰기를 했음.
  print(k) #k = 0~9까지 변신
print('반복중')

2
3
4
반복중

In [ ]:
# 100개의 리스트 배열을 만들고 [0, 2, 4, 6....] 순서로 값을 초기화
for n in range(100):
  list.append(n*2)
  print(list)
#n = 0, 1, 2....99
#range(a부터, b전까지, c만큼 +, - 해라)

In [25]:
#for은 반복은 => 똑같은 작업을 할 수 잇도록 횟수를 지정하는 반복문
#인력하는 단의 구구단 출력
#예) 3입력 => 3 * 1 ..... 3 * 9 = 27
a = int(input('숫자를 입력해주세요 >>> '))
print(a * 3) #input으로 받은 값은 문자로 처리됨
# b = int(a) int 타입 = 정수값으로 변경

숫자를 입력해주세요 >>> 3
9

In [46]:
a = int(input('숫자를 입력해주세요 >>> ')) # {} 는 안에 있는 변수의 값을 출력
for b in range(1,10): #1 ~ 10 전까지 = 1 ~ 9 콜론 : 붙이도록
    print(a, '*'  , b , '=', a * b) #반복할 문장은 Tab만큼 둘여써서 작성
    #print(f'{a} * {b} * = {a * b})

숫자를 입력해주세요 >>> 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27